<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <link
      rel="shortcut icon"
      href="../static/img/tecnologia.png"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <title>Sergio Donato</title>
  </head>
  <body>
    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
      <section class="profile">
        <img src="../static/img/300px.jpeg" alt="Foto do Sergio" />
        <h1>Sergio Donato</h1>
        <div class="social-links mt-4 text-center">
          <a target="_blank" href="https://www.linkedin.com/in/sergiodcdn/">
            <i class="bi bi-linkedin"></i>
          </a>
          <a target="_blank" href="https://github.com/Sergiodcdn">
            <i class="bi bi-github"></i>
          </a>
          <a target="_blank" href="https://www.facebook.com/sergiodcdn">
            <i class="bi bi-facebook"></i>
          </a>
        </div>
      </section>

      <nav id="navbar" class="nav-menu">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#inicio">
              <i class="bi bi-house" aria-hidden="true"></i>
              Inicio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sobre">
              <i class="bi bi-person" aria-hidden="true"></i>
              Sobre
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#habilidades">
              <i class="bi bi-tools" aria-hidden="true"></i>
              Ferramentas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#curriculo">
              <i class="bi bi-file-earmark" aria-hidden="true"></i>
              Currículo
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portfolio">
              <i class="bi bi-collection" aria-hidden="true"></i>
              Portfólio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contato">
              <i class="bi bi-envelope" aria-hidden="true"></i>
              Contato
            </a>
          </li>
        </ul>
      </nav>
    </aside>

    <main id="main">
      <section id="inicio" class="row m-0 p-0">
        <div
          class="col-md-5 d-flex justify-content-center align-items-center flex-column"
        >
          <h2 class="text-white text-shadow">Sergio Donato</h2>
          <span id="subtitle" class="text-white"
            >Programador e graduando de engenharia</span
          >
        </div>

        <div class="col-md-7 d-flex justify-content-end align-items-end">
          <div id="arraste" class="d-flex align-items-center">
            <i
              class="bi bi-arrow-down text-white pe-2 fs-2"
              aria-hidden="true"
            ></i>
            <a href="#sobre"></a>
          </div>
        </div>
      </section>

      <section class="container mt-5" id="sobre">
        <div class="row w-100">
          <div class="col-md-12" data-anime="down">
            <h2 class="pt-3">Sobre:</h2>
            <p class="px-5">
              Há décadas atrás tive inicio na programação usando os primórdios
              do html... Anos depois retomei o contato durante a graduação em
              engenharia, lá aprendi o básico de algumas linguagens, análises de
              dados e georreferenciamento. Desde o final de 2022 tenho tido
              contato frequente, com sistemas de informação, linguagens de
              programação, ambientes de desenvolvimentos e análises de dados e
              imagens.
            </p>
          </div>

          <div class="row mt-4">
            <div class="col-md-4">
              <img
                class="img-fluid shadow imgSobre"
                src="../static/img/300px.jpeg"
                alt="Foto do Sergio"
                data-anime="left"
              />
            </div>

            <div class="col-md-6" data-anime="right">
              <h3>Sobre a engenharia...</h3>
              <p class="px-1">
                Focado em soluções que buscam útilidade, agilidade, otimização
                de processos, tudo sempre buscando o máximo de acessibilidade.
              </p>


              <p class="px-1">
                Nas horas extras sou professor voluntário de arte marcial e faço
                manutenção de projetos experimentais em agricultura urbana.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="mt-5 section-bg" id="habilidades">
        <div class="container pb-5">
          <h2 class="pt-5">Habilidades</h2>
          <p>
            Abaixo listo as stacks que mais tenho contato, a pontuação delas se
            dá de forma comparativa entre elas mesmas:
          </p>

          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">JAVASCRIPT</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="100"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 100%">
                  BOM CONHECIMENTO DO JS PURO, ASSIM COMO O USO DE ALGUNS
                  FRAMEWORKS
                </div>
              </div>
              <p class="mt-3 mb-0">Node Js</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="50"
              >
                <div class="progress-bar" style="width: 50%">
                  USO DE ROTAS, E ALGUMAS AÇÕES NO SISTEMA
                </div>
              </div>
              <p class="mt-3 mb-0">CSS</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 100%">
                  USO DE CONJUNTOS DE ESTILOS, MEDIAQUERY E ANIMAÇÕES
                </div>
              </div>
              <p class="mt-3 mb-0">HTML</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 100%">
                  BOA NOÇÃO DAS TAGS, DOS FRAMEWORKS E DAS INTERAÇÕES COM OUTRAS
                  TOOLS
                </div>
              </div>
              <p class="mt-3 mb-0">JAVASCRIPT FRAMEWORKS</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 60%">
                  BOOTSTRAP, REACT, EXPRESS
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <p class="mt-3 mb-0">PYTHON</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 100%">
                  BOM CONHECIMENTO DO PYTHON PURO, ASSIM COMO O USO DE ALGUNS
                  FRAMEWORKS
                </div>
              </div>
              <p class="mt-3 mb-0">PYTHON FRAMEWORKS</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 80%">
                  TOOLS DE DADOS, IMAGENS, E BÁSICO DE FLASK, DJANGO, TKINTER
                </div>
              </div>
              <p class="mt-3 mb-0">GIT</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 50%">
                  COMANDOS BÁSICOS E USO DE GITHUB DESKTOP
                </div>
              </div>
              <p class="mt-3 mb-0">NoSQL / SQL</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 50%">
                  SQLlite, MYSQL, MONGO DB
                </div>
              </div>
              <p class="mt-3 mb-0">C / C++</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 40%">
                  CONHECIMENTO DE PONTEIROS E POO
                </div>
              </div>
            </div>
          </div>

          <hr class="w-50 me-auto ms-auto" />

          <div class="row">
            <div class="col-md-6">
              <p class="mt-3 mb-0">Trabalho em equipe</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 100%">
                  PELA VIVÊNCIA EM TRABALHOS COLETIVOS E NAS ARTES MARCIAIS
                </div>
              </div>
              <p class="mt-3 mb-0">Pró atividade</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 80%">
                  SEMPRE QUE TENHO CONHECIMENTO DA ÁREA, TOMO INICIATIVA
                </div>
              </div>
              <p class="mt-3 mb-0">Auto gerenciamento</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 100%">
                  SEMPRE BUSCANDO CONHECIMENTO E APLICÁ-LOS DO DIA-A-DIA
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <p class="mt-3 mb-0">Conhecimento de hardware</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 45%">
                  O BÁSICO DE UM USUÁRIO AVANÇADO
                </div>
              </div>
              <p class="mt-3 mb-0">Sistemas operacionais</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 40%">
                  O BÁSICO DE LINUX E WINDOS
                </div>
              </div>
              <p class="mt-3 mb-0">Rede de contatos com pessoas da área tec</p>
              <div
                class="progress"
                role="progressbar"
                aria-label="Example with label"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                <div class="progress-bar" style="width: 30%"></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="curriculo" class="mt-5 cv">
        <div class="container pb-5">
          <h2 class="pt-3 pb-4">Currículo</h2>
          <div class="row">
            <div class="col-md-6">
              <h3 class="cv-title">Educação</h3>
              <div class="cv-item">
                <h4>USP / ESALQ</h4>
                <h5>2021</h5>
                <p><em>Piracicaba, SP</em></p>
                <p>
                  Cursei o quarto ano de engenharia agronômica, o curso foi
                  trancado devido a pandemia e suas loucuras...
                </p>
              </div>
              <div class="cv-item">
                <h4>UNESP</h4>
                <h5>2018 - 2020</h5>
                <p><em>Ilha Solteira, SP</em></p>
                <p>
                  Engenharia agronômica, lá fui tive diversas atividades, como
                  estágios, representante de alojamento de alunos, trabalho no
                  abrigo de animais da cidade.
                </p>
              </div>
              <div class="cv-item">
                <h4>COLÉGIO SÃO JUDAS TADEU</h4>
                <h5>2001-2004</h5>
                <p><em>São Paulo, SP</em></p>
                <p>
                  Curso técnico em marketing, aonde além da área principal se vê
                  um pouco da área administrativa e suas esferas adjacentes.
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <h3 class="cv-title">Proffisional</h3>
              <div class="cv-item">
                <h4>PRODUTOR DE COGUMELOS COMESTÍVEIS</h4>
                <h5>2022</h5>
                <p><em>São Paulo, SP</em></p>
                <p>
                  Produtor de shimeji, responsável pela elaboração do projeto,
                  implementação e produção dos cogumelos.
                </p>
              </div>
              <div class="cv-item">
                <h4>ESTÁGIO EM ENGENHARIA AGRONÔMICA</h4>
                <h5>2019-2021</h5>
                <p><em>Ilha Solteira e Piracicaba</em></p>
                <p>
                  Uso de ferramentas como análises de dados e imagens para
                  compreender e otimizar o uso da terra e seus recursos.
                </p>
              </div>
              <div class="cv-item">
                <h4>PROFESSOR DE ARTE MARCIAL</h4>
                <h5>... - 2023</h5>
                <p><em>São Paulo, Ilha Solteira, Piracicaba</em></p>
                <p>
                  Por treinar desde pequeno, sempre contribui com projetos
                  locais aonde residia, acredito que a cultura física é muito
                  importante, além do ambiente social saudavel que a mesma
                  proporciona.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="portfolio" class="section-bg mt-5">
        <div class="container pb-5 pt-5">
          <h2 class="pb-4">Portfólio</h2>

          <div
            id="carouselPortfolio"
            class="carousel carousel-dark slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselPortfolio"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselPortfolio"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
            </div>

            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                    <div class="card">
                      <img
                        src="../static/img/fundo2.jpg"
                        class="card-img-top"
                        alt="Trampo 1"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Trampo 1</h5>
                        <p class="card-text">
                          This is a longer card with supporting text below as a
                          natural lead-in to additional content. This content is
                          a little bit longer.
                        </p>
                        <div class="d-flex justify-content-center">
                          <a
                            href="https://github.com/Sergiodcdn/Cpp"
                            target="_blank"
                            class="btn btn-outline-dark me-3"
                          >
                            <i class="bi bi-link-45deg"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="card">
                      <img
                        src="../static/img/fundo1.jpg"
                        class="card-img-top img-fluid w-100"
                        alt="Trampo 2"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Trampo 2</h5>
                        <p class="card-text">
                          This is a longer card with supporting text below as a
                          natural lead-in to additional content. This content is
                          a little bit longer.
                        </p>
                        <div class="d-flex justify-content-center">
                          <a
                            href="https://github.com/Sergiodcdn/Cpp"
                            target="_blank"
                            class="btn btn-outline-dark me-3"
                          >
                            <i class="bi bi-link-45deg"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="card">
                      <img
                        src="../static/img/fundo1.jpg"
                        class="card-img-top img-fluid w-100"
                        alt="Trampo 1"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Trampo 3</h5>
                        <p class="card-text">
                          This is a longer card with supporting text below as a
                          natural lead-in to additional content. This content is
                          a little bit longer.
                        </p>
                        <div class="d-flex justify-content-center">
                          <a
                            href="https://github.com/Sergiodcdn/Cpp"
                            target="_blank"
                            class="btn btn-outline-dark me-3"
                          >
                            <i class="bi bi-link-45deg"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item" data-bs-interval="2000">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                    <div class="card h-100">
                      <img
                        src="../static/img/fundo1.jpg"
                        class="card-img-top"
                        alt="Trampo 1"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Trampo 1</h5>
                        <p class="card-text">
                          This is a longer card with supporting text below as a
                          natural lead-in to additional content. This content is
                          a little bit longer.
                        </p>
                        <div class="d-flex justify-content-center">
                          <a
                            href="https://github.com/Sergiodcdn/Cpp"
                            target="_blank"
                            class="btn btn-outline-dark me-3"
                          >
                            <i class="bi bi-link-45deg"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="card">
                      <img
                        src="../static/img/fundo1.jpg"
                        class="card-img-top img-fluid w-100"
                        alt="Trampo 2"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Trampo 2</h5>
                        <p class="card-text">
                          This is a longer card with supporting text below as a
                          natural lead-in to additional content. This content is
                          a little bit longer.
                        </p>
                        <div class="d-flex justify-content-center">
                          <a
                            href="https://github.com/Sergiodcdn/Cpp"
                            target="_blank"
                            class="btn btn-outline-dark me-3"
                          >
                            <i class="bi bi-link-45deg"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="card">
                      <img
                        src="../static/img/fundo1.jpg"
                        class="card-img-top img-fluid w-100"
                        alt="Trampo 1"
                      />
                      <div class="card-body">
                        <h5 class="card-title">Trampo 3</h5>
                        <p class="card-text">
                          This is a longer card with supporting text below as a
                          natural lead-in to additional content. This content is
                          a little bit longer.
                        </p>
                        <div class="d-flex justify-content-center">
                          <a
                            href="https://github.com/Sergiodcdn/Cpp"
                            target="_blank"
                            class="btn btn-outline-dark me-3"
                          >
                            <i class="bi bi-link-45deg"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselPortfolio"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselPortfolio"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </section>

      <section id="contato" class="pt-5 pb-5 px-3">
        <h2 class="pt-3 pb-3 d-flex justify-content-center">Contatos:</h2>
        <h4>
          <i class="bi bi-geo-alt text-danger"></i> Localização: São Paulo, SP
        </h4>
        <h4>
          <i class="bi bi-envelope text-primary"></i> Email:
          sergiodcdn@gmail.com
        </h4>
        <h4>
          <a href="https://wa.me/5511993962138" target="_blank">
            <i class="bi bi-whatsapp text-success"> Wzap'</i>
          </a>
        </h4>
      </section>
    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
  </body>
</html>
